.DataProcessing-del-btn{
    display: flex;
    width: 30px;
    background: red;
    color: white;
    justify-content: center;
    align-items: center;
    color: point;
    cursor: pointer;
}

.DataProcessing-add-btn{
    display: flex;
    width: 30px;
    background: skyblue;
    color: white;
    justify-content: center;
    align-items: center;
    color: point;
    cursor: pointer;
}

.DataProcessing-data-list-detail{
    display: flex;
}

.DataProcessing-data-list-detail-list{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 1px solid #e2e2e2;
    margin-top: 1px;
    height: 30px;
}