html,body {
    height: 100%;
    margin: 0px;
}

button {
    border: none;
    cursor: pointer;
}

button:focus{
    border: none;
} 

a{
    text-decoration: none !important;
}

a:hover{
    text-decoration: none !important;
}

ul{
    padding: 0px;
    margin: 0px;
}

li {
    display: block;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100%;
}